body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: relative;
    height: 60px;
    width: 100%;
}

.login-link {
    position: absolute;
    top: 50px;
    right: 50px;
    text-decoration: none;
    color: blue;
}

h3 {
position: relative;
left: 23px;
margin-top: 50px;
}

h4 {
    position: relative;
    left: 23px;
    font-weight: normal;
    margin-top: 50px;
}

.title-heading {
    text-align: center;
}

.welcome-heading {
    text-align: center;
    margin-top: 20px;
}

/*.Recommended-for-you {

}

.Continue-watching {

}
going to add this later and work on it in class.*/
